@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');



.caja {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    font-family: 'Lobster', sans-serif;
    font-size: 400;
    color: black;
    background-color: aqua;
     }

.cartitas {
    flex-grow: 1;
    flex-basis: 200;
    width: 300px;
    height: 300px;
    margin: 5px;
    background-image:url(/images/muerte.jpg);
    border-radius: 15px;
    color: white;
}