@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  margin: 0;
  padding: 0;
}
/*cuepo general*/
.cuerpo{
  background-color: black;
}
/*cuerpó pagina obra*/
.cuerpObra {
  border: 2px solid #a833cc;
  margin: 10px 10px 10px 10px;
}
/*cuerpo pagina presentacion*/
.cuerpoP {
  border: 2px solid #a833cc;
  margin: 10px 10px 10px 10px;
}
/*cuerpo invitados*/
.cuerpoI {
  border: 2px solid #a833cc;
  margin: 10px 10px 10px 10px;
}
/*cuerpo influencias*/
.cuerpoInfluencias {
  border: 2px solid #a833cc;
  margin: 10px 10px 10px 10px;
}
/*cuerpo de los poemas*/
.poemasAparte {
  border: 2px solid #a833cc;
  margin: 10px 10px 10px 10px;
}

/*encabezado pagina principal */
.cajaTituloPrincipal {
  padding: 15px 30px 0px 30px;
  background-color: rgb(0, 255, 255);
  background: linear-gradient(to right, #ff00cc, #3333cc);
  margin: 80px 10px 0px 10px;
}

.tituloPrincipal {
  color: white;
  text-align: center;
  text-shadow: 11px 5px 7px rgba(27, 27, 27, 0.83);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
}

/*encabezado pagina presentacion */
.cajaTituloPresentacion{
  padding: 15px 30px 0px 30px;
  background-color: rgb(0, 255, 255);
  background: linear-gradient(to right, #63ec5e, #4309e2);
  margin: 30px 10px 20px 10px;

}
.tituloPresentacion{
  color: white;
  text-align: center;
  text-shadow: 11px 5px 7px rgba(27, 27, 27, 0.83);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
}

/*encabezado pagina obra completa*/
.cajaTituloO {
  padding: 15px 30px 0px 30px;
  background-color: rgb(0, 255, 255);
  background: linear-gradient(to right, #ff00cc, #3333cc);
  margin: 50px 10px 0px 10px;
}

.tituloKaonyO {
  color: white;
  text-align: center;
  text-shadow: 11px 5px 7px rgba(27, 27, 27, 0.83);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
}

/*encabezado pagina invitados */
.cajaTituloInvitados {
  padding: 15px 30px 0px 30px;
  background-color: rgb(0, 255, 255);
  background: linear-gradient(to right, #ff00cc, #3333cc);
  margin: 80px 10px 0px 10px;
}

.tituloInvitados {
  color: white;
  text-align: center;
  text-shadow: 11px 5px 7px rgba(27, 27, 27, 0.83);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
}

/*encabezado pagina influencias*/
.cajaTituloInfluencias {
  padding: 15px 30px 0px 30px;
  background-color: rgb(0, 255, 255);
  background: linear-gradient(to right, #ff00cc, #3333cc);
  margin: 80px 10px 0px 10px;
}

.tituloInfluencias {
  color: white;
  text-align: center;
  text-shadow: 11px 5px 7px rgba(27, 27, 27, 0.83);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
}






.accordion {
   width: 80%;
   height: 250px;
   overflow: hidden;
   margin: 50px auto;
}

ul{
   width: 100%;
   display: table;
   table-layout: fixed;
   margin: 0;
}

/*Barra de navegacion*/
li {
    /* Agrega la URL de la primera imagen */
   --img-1: url("https://img.freepik.com/fotos-premium/robot-metal-amarillo-escribiendo-teclado-entorno-postapocaliptico-paredes-hormigon-color-purpura-tecnologia-gen_906405-997.jpg");
   --img-2: url("https://previews.123rf.com/images/scis65/scis651408/scis65140800050/31241973-manuscritos-antiguos-escritos-en-s%C3%A1banas-sucias-viejas.jpg");
   --img-3: url("https://www.gamespot.com/a/uploads/screen_kubrick/171/1712892/3587754-screen%20shot%202019-10-03%20at%2012.27.06%20pm.png");
   --img-4: url("https://i0.wp.com/listalibro.com/wp-content/uploads/2021/05/Boom-latinoamericano-e1622161066898.jpg");

   
   &:nth-child(1) {
    background-image: var(--img-1);
  }

  &:nth-child(2) {
    background-image: var(--img-2);
  }

  &:nth-child(3) {
    background-image: var(--img-3);
  }

  &:nth-child(4) {
   background-image: var(--img-4);
 }





  width: 30%;
  height: 250px;
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease;
}

li div{ 
  display: block;
  overflow: hidden;
  width: 100%;
}

li div a {
  display: block;
  height: 250px;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.75);
  transition: all 200ms ease;
}

li div a *{
  width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-20px);
  transition: all 400ms ease;
}

li div a h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.75);
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

li div a p {
  top: 160px;
  font-size: 13.5px;
}

li div a *{
 opacity: 0;
}

ul:hover li {
 width: 10%;
}

ul:hover li:hover {
 width: 80%;
}

ul:hover li:hover a{
 background-color: #00000066;
}

ul:hover li:hover a *{
 opacity: 1;
 transform: translateX(0);
 }

/*poemas poemas poemas poemas poemas*/
.poemasCajaCompleta {
  margin: 35px 35px 35px 35px;
}


.poemasContainer{
  display: flex;
  gap: 100px;
  justify-content:left;
  margin-top: 50px;
  margin-bottom: 100px;
  overflow-x:auto;
  white-space: nonwrap;
  padding-bottom: 50px;
  padding-right: 20px;
}

/*scrollbar scrollbar scrollbar*/
.poemasContainer::-webkit-scrollbar {
  width: 250px;
}
.poemasContainer::-webkit-scrollbar-track {
  background-color: #3333cc;
  border-radius: 15px;
}

.poemasContainer::-webkit-scrollbar-thumb {
  background-color: #ee5a5a4d;
  border-radius: 15px;
}

.poemasContainer::-webkit-scrollbar-thumb:hover {
  background-color: #b500da;
}


.poemaCaja { 
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  border-radius: 20px;
  border: 5px solid #3333cc;
  overflow: hidden;
  box-shadow: 20px 10px 3px #7012a74d;
  position:relative;
  transition: transform 0.3s ease-in-out;
  margin-right: 10px;
}

.poemaCaja:hover {
  transform: translate(10px, 10px)
}


.poemaImagen {
  justify-content: center;
  width: 250px;
  height: 250px;
  position:relative;
  display: flex;
}

.poemaText {
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 1;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.75);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex: 1;
  
}

.linkeo {
  text-decoration: none;
  color: #ffffff;
}

.linkeo:hover {
  color: rgb(180, 180, 180);
}


/*pagina quien soy yo*/

.cajaPerfilP {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
  background: linear-gradient(to right, #63ec5e, #4309e2);
  margin: 0px 100px 15px 100px;
  gap: 350px;
  border-radius: 150px 10px 150px 10px;
}


.cajaParrafoP {
  text-align: left;
}

.hello {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-shadow: 11px 4px 10px rgb(0, 0, 0);
}

.hello2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  color: #ffffff;
  padding-bottom: 30px;
  text-shadow: 11px 4px 10px rgb(0, 0, 0);

}

.hello3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 200px;
}



.cajaSecundariaPerfil {
  justify-content: center;
  align-items: center;
}


.textoU {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-shadow: 11px 4px 5px rgb(0, 0, 0);
}


.edad{
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 4px 3px 4px rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
}




.cajaImagenPerfil {
  border-radius: 50px;
  overflow: hidden;
  width: 250px;
  border:solid 3px #000000;
  justify-self: center;
}


.imagenPerfil {
  display: flex;
  width: 250px;
  justify-content: center;
}

/*caja galeria*/



/*poemas poemas poemas poemas poemas poemas */
.cajaPoemaCompleto1 {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
  margin: 0px 100px 15px 100px;
  gap: 250px;
  border-radius: 150px 10px 150px 10px;
}

.cajaEscrito1 {
  justify-content: center;
}

.tituloPoema1 {
  color: white;
  text-align: center;
  width: 320px;
  margin-bottom: 30px;
  background-color: #3333cc;
  border-radius: 10px ;
}

.parrafoEscrito1 {
  color: rgb(255, 255, 255);
  text-shadow: 10px 8px 5px rgba(255,255,255,0.44);
  font-size: medium;
}


.cajaSecundariaImagen1 {
  justify-content: center;
}

.cajaImagenPoema1 {
  border-radius: 50px;
  overflow: hidden;
  width: 300px;
  justify-self: center;
  margin-top: 60px;
}

.imagenPoema1 {
  display: flex;
  width: 300px;
  justify-content: center;
}

audio {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #000000;
  border-radius: 8px;

}

audio:hover {
background-color: #37ff00;
}

audio::-webkit-media-controls-panel {
  background-color: #ddd;
  color: #06ff0a;
}
  
audio::-webkit-media-controls-play-button {
  background-color: #37ff00;
  border-radius: 10px;
}

 /*pie de pagina*/ 
 .piePagina {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin: 5px;
 } 

 .faceLogo {
  width: 50px;
  transition: transform 0.3s ease-in-out;
 }

 .faceLogo:hover {
  transform: translate(10px, 10px); 
 }

 .instaLogo {
  width: 55px;  
  transition: transform 0.3s ease-in-out;
}

.instaLogo:hover {
  transform: translate(10px, 10px); 
}

.githubLogo {
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

.githubLogo:hover {
  transform: translate(10px, 10px); 
}

.vscoLogo {
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

.vscoLogo:hover {
  transform: translate(10px, 10px); 
}

.tiktokLogo {
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

.tiktokLogo:hover {
  transform: translate(10px, 10px); 
}
  


@media screen and (min-width: 200px) and (max-width: 812px){

  .piePagina {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 10px;
   } 
  
   .faceLogo {
    width: 20px;
    transition: transform 0.3s ease-in-out;
   }
  
   .faceLogo:hover {
    transform: translate(10px, 10px); 
   }
  
   .instaLogo {
    width: 25px;  
    transition: transform 0.3s ease-in-out;
  }
  
  .instaLogo:hover {
    transform: translate(10px, 10px); 
  }
  
  .githubLogo {
    width: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .githubLogo:hover {
    transform: translate(10px, 10px); 
  }
  
  .vscoLogo {
    width: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .vscoLogo:hover {
    transform: translate(10px, 10px); 
  }
  
  .tiktokLogo {
    width: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .tiktokLogo:hover {
    transform: translate(10px, 10px); 
  }
    
}